/*Tek inn öll fontin*/
@font-face {font-family: roboto;src: url(../fonts/roboto/Roboto-Regular.ttf);}
@font-face {font-family: robotoLight;src: url(../fonts/roboto/Roboto-Light.ttf);}
@font-face {font-family: geometos;src: url(../fonts/geometos/Geometos.ttf);}
@font-face {font-family: openSans;src: url(../fonts/openSans/OpenSans-Regular.ttf);}
@font-face {font-family: digital;src: url(../fonts/digitalDisgust/getdigital.ttf);}

body {
    color: #111;
}
.navTrigger{
	display: none;
}
.pushPageDown{
	display: none;
}
/*Læt nav barinn vera kyrran efst og ná yfir allan skjáinn*/
.navBar{
	position: fixed;
	display: block;
	width:100%;
	background-color: white;
}
/*stilli container navlinkanna*/
.navContainer{
	display: flex;
  	justify-content: space-between;
    left:0;
    right:0;
    margin: 0 auto;
	width:800px;
	font-family: roboto;
}
/*stilli stýla á navlinkum*/
.navLink{
	color:#0DA45D;
	padding: 20px 0;
	text-align: center;
	display: block;
	width:100%;
	border-bottom: 3px solid transparent;
	background-color: transparent;
	transition:background 0.3s;
	transition:color 0.3s;
	transition:border 0.3s;
}
.navLink:hover{
	border-bottom: 3px solid rgba(13, 164, 93, 1);
	color:rgba(13, 164, 93, 1);
	background-color: rgba(13, 164, 93, 0.07);
}
.navItem{
	display: inline-block;
}
/*Set hæð hverrar síðu sem fulla hæð sjáins. Þetta fokkar upp í símum, mun laga það seinna*/
.page{
    min-height:100%;
	min-height: 100vh;
    padding: 0 0 30px 0;
}
/*Block sem sér um að stíla mismunadi síðurnar*/
#intro{
	display: flex;
    flex-direction: column;
	color:#0DA45D;
    padding-top: 70px;
    background-color: white;
}
#about{
	background-color: #0DA45D;
	color:white;
}
.about{
	background-color: #0DA45D;
	color:white;
}
#more{
	background-color: white;
}
.more{
	background-color: white;
	color:#0DA45D;
	min-height: 0vh;
}
#preperation{
	background-color: #0DA45D;
}
.preperation{
	background-color: #0DA45D;
	color:white;
}
#signup{
	background-color: white;
}
.signup{
	background-color: white;
    padding: 0 0 30px 0;
	color:#0DA45D;
}
/*Síðublock lokið*/
/*Stýlar fyrir aðal nafnið*/
.logo{
    width: 600px;
    display: block;
    margin: 50px auto 0;
	content: url(../img/logo-small.png);
}
.name{
	text-align: center;
	font-size: 5em;
	font-family: digital;
}
.title{
	padding-top: 2%;
	text-align: center;
	font-size: 2em;
	font-family: geometos
}
/*Hérna koma stýlar eingögnu fyrir formið*/
.form-input{
	display: block;
	width:96%;
	border:0;
	font-size: 1.5em;
	background-color: #0DA45D;
	padding:2%;
	color:white;
	font-family: robotoLight;
	margin:2%;
}
.form-input:focus{
	outline: 0;
}
.formContainer{
	width:800px;
	margin: 5% auto;
}
#go{
	margin:0 2%;
	display: block;
	border:0;
	font-size: 1.5em;
	background-color: #0DA45D;
	padding:2%;
	color:white;
	font-family: robotoLight;
	margin:2%;
}
#go:hover{
	background-color: #058045;
}
#go:focus{
	outline: 0;
}
#go:active{
	background-color: #006434;
}
/*Stýlar sem sjá um að breyta litnum á placeholder texta*/
::-webkit-input-placeholder {
   color: #DCDCDC;
}

:-moz-placeholder { /* Firefox 18- */
   color: #DCDCDC;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #DCDCDC;  
}

:-ms-input-placeholder {  
   color: #DCDCDC;  
}
/*Custom radio buttons eru versta krabbameinið*/
input[type="radio"] {
  display: none;
}
/*Hide-a alla radio takka*/
input[type="radio"] + label {
  font-family: robotoLight;
  font-size: 1.5em;
}
/*stýlar fyrir labels á radio tökkum*/
input[type="radio"] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
/*Færi span tagið yfir radio takkan*/
input[type="radio"] + label span {
  background-color: #DCDCDC;
}
/*stilli default bakrunnslit á radio tökkum*/
input[type="radio"]:checked + label span {
  background-color: white;
  color:white;
}
/*Stilli stýla á cheked radio takka*/

/*Þetta eru meiri stýlar fyrir radiotakka*/
.labelControl{
	display: inline-block;
	color:#DCDCDC;
	vertical-align: middle;
	/*padding-top: 3px;*/
}
.radioContainerContainer{
	display: block;
	width:96%;
	border:0;
	font-size: 1em;
	background-color: #0DA45D;
	padding:2%;
	color:white;
	font-family: robotoLight;
	margin:2%;
	display: flex;
	justify-content:space-around;
}
.radioContainer{
	display: inline-block;
}

/*Hér eru sér stýlar fyrir efni á síðuni*/
.contentContainer{
	width:800px;
	margin:2% auto 0;
	font-family: openSans;
	font-size: 1.2em;
	line-height: 1.5em;
}
.contentContainer p {
    margin-top: 10px;
}
.important{
	color: #333;
	/*font-style: italic;*/
	/*text-decoration: underline;*/
}


@media (screen and max-height: 720px) {
    .page {
        height: 100%;
    }
}


/*Stýlar fyrir parallax eins og ég held að gugga rand vill hafa það*/
.parallax{
	height: 30vh;
	background-attachment: fixed;
	background-position: top center;
	background-size: cover;
}
.firstImage{
	/*disgusting cringe kóðamynd, notar meira að segja deprecated php functions, top kek*/
	background-image: url(../img/1.jpg);
}
.secondImage{
	background-image: url(../img/2.jpg);
}
.thirdImage{
	background-image: url(../img/3.jpg);
}
.fourthImage{
	background-image: url(../img/4.jpg);	
}
.footThing{
	display: block;
	text-align: center;
	padding-bottom:1em;
}
.footerContainer{
	font-family: robotoLight;
}
footer{
	padding-top:1em;
	background-color: black;
	color:white;
}
a:visited{
	color:white;
}